.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
// body {
//   margin: 0;
//   padding: 0;
//   width: fit-content;
// }
.header-container-dark {
  width: 100vw;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-bottom: 1px solid #798c8f;
  background-color: #96fbd5;

  .brand-name {
    font-size: 25px;
    font-weight: 600;
    width: 100%;
  }
  .right-container {
    display: flex;

    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    .mode-img {
      padding: 5px 10px;
      border: 1px solid black;
      border-radius: 17px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 80px;
      background-color: whitesmoke;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      .inside-btn {
        padding: 10px 20px;
        background-color: gray;
        border: 1px solid black;
        border-radius: 8px;
      }
    }
  }
}
.header-container {
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 20px;
  background-color: #dd86e3;
  border-bottom: 1px solid #34494d;
  .brand-name {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
  }
  .right-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    .mode-img {
      padding: 5px 10px;
      border: 1px solid whitesmoke;
      border-radius: 17px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 80px;
      background-color: #34494d;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      .inside-btn {
        padding: 10px 20px;
        background-color: gray;
        border: 1px solid black;
        border-radius: 8px;
      }
    }
  }
}
